* {
    margin: 0;
}

header {
    background-color: #6F74FF;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;
}

ul {
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    list-style-type: none;
    margin-left: 16px;
    align-items: center;
}

a {
    display: flex;
    align-items: center;
    margin-left: 16px;   
}

div {
    display: flex;
}

main {
    background-image: url(../img/img_fundo.png) ;
    justify-content: space-between;
    padding: 8px;
    margin-bottom: 12px;
}

main div {
    background-color: rgba(121, 121, 121, 0.614);
    display: inline-table;
    justify-content: flex-start;
    padding: 8px;
    margin-bottom: 12px;
}

footer {
    background-color: #6F74FF;
    display: flex;
    justify-content: space-between;
    padding: 8px;;
}

footer ul a{
    list-style-type: none;
    margin-left: 8px;
    align-items: end;
}
